<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow, noarchive, nosnippet">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2">
  <%
    if album.description %>
    <meta name="description" content="<%= album.description %>">
  <% end
  %>
  <% if album.name %>
    <title><%= album.name %></title>
  <% end
  %>
  <link href="<%= album.path_to_root %>style.css" rel="stylesheet">
  <link href="<%= album.path_to_root %>fontawesome/css/fontawesome.css" rel="stylesheet" />
  <link href="<%= album.path_to_root %>fontawesome/css/solid.css" rel="stylesheet" />
</head>

<body>

<div><%= album.generate_breadcrumbs %></div>

<% if album.name %>
  <h2><%= album.name %></h2>
<% end %>
<% if album.description %>
  <p><%= album.description %></p>
<% end %>
<% unless album.images.empty? %>
  <div class="container">
    <ul class="image-gallery">
      <% album.images.each do |image| %>
        <%= image.highlight_image_html %>
      <% end %>
    </ul>
  </div>
<% end %>
</body>
</html>


