<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow, noarchive, nosnippet">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=2">
  <%
    if folder.description %>
    <meta name="description" content="<%= folder.description %>">
  <% end
  %>
  <% if folder.name %>
    <title><%= folder.name %></title>
  <% end
  %>
  <link href="<%= folder.path_to_root %>style.css" rel="stylesheet">
  <link href="<%= folder.path_to_root %>fontawesome/css/fontawesome.css" rel="stylesheet" />
  <link href="<%= folder.path_to_root %>fontawesome/css/solid.css" rel="stylesheet" />
</head>

<body>

<div><%= folder.generate_breadcrumbs %></div>

<% if folder.is_root? %>
<img src="<%= folder.path_to_root %><%= folder.highlight_image.highlight_image_path %>" title="<%= folder.title %>">
<% end %>
<% if folder.name %>
  <h2><%= folder.name %></h2>
<% end %>
<% if folder.description %>
  <p><%= folder.description %></p>
<% end %>
<% unless folder.subfolders.empty? %>
  <h3>Folders</h3>
  <div class="container">
    <ul class="image-gallery">
      <% folder.subfolders.each do |subfolder| %>
        <%= subfolder.highlight_image_html %>
      <% end %>
    </ul>
  </div>
<% end %>
<% unless folder.albums.empty? %>
  <h3>Albums</h3>
  <div class="container">
    <ul class="image-gallery">
      <% folder.albums.each do |album| %>
        <%= album.highlight_image_html %>
      <% end %>
    </ul>
  </div>
<% end %>

</body>
</html>


